@charset "UTF-8";

header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-top img {
    width: 200px;
    margin-left: 10px;
}

.header-top h1 {
    font-size: 40px;
    font-weight: bold;
}

.input {
    width:300px;
    font-size: 30px;
}

.input::-webkit-input-placeholder{
    font-size: 20px;
}

.track-list {
    visibility: hidden;
    width: 83.33%;
    height: 470px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
}

.artwork {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}

.track:not(:last-child){
    margin-right: 20px;
}

.track-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.track-info p:not(:last-child){
    margin-bottom: 10px;
}

.player {
    width: 300px;
    height: 50px;
}

.LikesIcon,.fav-LikesIcon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

/* ---------------------------- */
/* --- ハートアニメーション --- */
/* ---------------------------- */
@keyframes heartAnimation {
    0% {
      /* アイコンサイズをもとのより小さくする */
      transform: scale(0.5);
    }
    10% {
      transform: scale(0.7);
    }
    30% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.2);
    }
    80% {
      transform: scale(1.5);
    }
    100% {
      /* もとのサイズに戻す */
      transform: scale(1.0);
    }
  }


.LikesIcon-fa-heart{
    font-size: 30px;
  }
  .LikesIcon-fa-heart.heart{
    /* heartAnimationアニメーションを200ミリ秒かけて実行する */
    animation: heartAnimation .2s;
    /* アイコン色を黒から赤へ変更する */
    color: #e2264d;
  }

.save {
    margin-top: 20px;
}

.save-list {
    width: 83.33%;
    height: 460px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
}

  .save h1 {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
  }